<!DOCTYPE html>
<html lang="pt_br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#8257e5">

  <title>Proffy | Sua plataforma de estudos online</title>

  <link
    href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/partials/page-sucess.css">

  <script src="/scripts/page-sucess.js" defer></script>
</head>

<body onload="scriptSucess()" id="page-sucess">
  <img class="image-sucess" src="/images/success-background.svg" alt="Imagem de Sucesso">
  <div id="container">
    <i class="far fa-check-square"></i>
    <h1>Cadastro Salvo!</h1>
    <p>Tudo certo, seu cadastro está na nossa lista de professores. Agora é só ficar de olho no seu WhatsApp.</p>

    <div class="buttons-container">
      <a class="btn-secondary" href="/study">Acessar a lista</a>
    </div>
  </div>
</body>

</html>