#page-study #container {
  width: 100vw;
  height: 100vh;
}

.page-header .header-content {
  padding: 0 1rem 7.16rem 1rem;
}

.header-content p input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.16rem;
  background: none;
  border: none;
  color: var(--color-text-in-primary);
  font-size: 1.50rem;
  line-height: 1.97rem;
  outline: none;
}

#container .page-header .header-content .filter-teacher {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-primary-lighter);
  padding-bottom: 1rem;
}

.filter-teacher i:first-child {
  color: var(--color-secondary);
  font-size: 2.5rem;
}

.filter-teacher i:last-child {
  color: var(--color-primary-lighter);
}

#search-teachers {
  margin-top: 3.2rem;
}

#search-teachers label {
  color: var(--color-text-in-primary);
}

#search-teachers .select-block {
  margin-bottom: 1.4rem;
}

#search-teachers button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secondary);
  color: var(--color-button-text);
  border: 0;
  border-radius: .8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
  margin-top: 3.2rem;
}

#search-teachers button:hover {
  color: var(--color-secondary-dark);
}

/* Main */

#page-study main {
  width: 100%;
  max-width: 90vw;
  border-radius: .8rem;
  margin: -6rem auto 0;
  padding-top: 0.4rem;
}

.teacher-item {
  background-color: var(--color-box-base);
  border-radius: 0.8rem;
  margin-top: 2.4rem;
}

.teacher-item header {
  padding: 3.2rem 2rem;
  display: flex;
  align-items: center;
}

.teacher-item header img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.teacher-item header div {
  margin-left: 2.4rem;
}

.teacher-item header div strong {
  font: 700 2.4rem Archivo;
  display: block;
  color: var(--color-text-title);
}

.teacher-item header div span {
  font-size: 1.6rem;
  display: block;
  /* Somente com display block eu peçoo, por exemplo, alterar a margin. O display inline que é o padrão de span não permite */
  margin-top: .4rem;
}

.teacher-item>p {
  padding: 0 2rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.teacher-item section {
  padding: 3.2rem 2rem;
  background-color: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);
  border-bottom: 0;
  margin-top: 3.2rem;
  /* Os elementos ficam nas extremidades */
}

.teacher-item section p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-text-complement);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.teacher-item section p strong {
  font-size: 1.6rem;
  color: var(--color-primary);
}

.teacher-item section .button {
  width: 20rem;
  height: 5.6rem;
  background: var(--color-secondary);
  color: var(--color-button-text);
  border: 0;
  border-radius: .8rem;
  cursor: pointer;
  font: 700 1.4rem Archivo;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* Espaçamento constante entre os elementos */
  text-decoration: none;
  transition: background 0.2s;
}

.teacher-item section .button:hover {
  background: var(--color-secondary-dark);
}

.contact-footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: .8rem;
}

.favorite-proffy {
  color: var(--color-title-in-primary);
  background-color: var(--color-primary);
  border-radius: .8rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-study main .no-results {
  max-width: 30rem;
  margin: 12rem auto;
  text-align: center;
}

/* Footer */

#footer-page {
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid var(--color-line-in-white);
  align-self: center;
  background-color: var(--color-box-footer);
}

/* footer .proffy-favorite {
  display: flex;
  gap: 8.33rem;
} */

#footer-page div a {
  text-decoration: none;
  color: var(--color-small-info);
  font-family: Archivo;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.35rem;
}

#footer-page .btn-proffys, #footer-page .btn-favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.66rem;
  outline: none;
}

#footer-page .btn-proffys {
  background-color: #EBEBF5;
  color: var(--color-primary);
}

#footer-page .btn-proffys a {
  color: var(--color-text-title);
}

#footer-page .btn-favorites i {
  color: var(--color-small-info);
}

@media (min-width: 700px) {
  #page-study #container {
    max-width: 100vw;
  }
  #container #wrapper {
    display: block !important;
  }
  #container .page-header .header-content .filter-teacher {
    display: none;
  }
  .teacher-item header, .teacher-item footer {
    padding: 32px;
  }
  #search-teachers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Criar 4 colunas com o mesmo tamanho */
    gap: 16px;
    position: absolute;
    bottom: -28px;
  }
  #page-study main {
    padding: 0;
    max-width: 740px;
    margin: 60px auto;
  }
  #search-teachers .select-block {
    margin-bottom: 0;
  }
  .teacher-item>p {
    /* Seleciona apenas o primeiro p */
    padding: 0 32px;
  }
  .teacher-item footer p strong {
    display: initial;
    margin-left: 16px;
  }
  .teacher-item footer button {
    width: 245px;
    font-size: 16px;
    justify-content: center;
    font-weight: 600px;
  }
  .teacher-item footer button img {
    margin-right: 16px;
  }
}